@model GLMSMVC.Models.ViewModels.ClientDetailsViewModel

@{
    ViewData["Title"] = "Client Details";
}

<h1>Client Details</h1>

<dl class="row">
    <dt class="col-sm-3">Client Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Contact Details</dt>
    <dd class="col-sm-9">@Model.ContactDetails</dd>

    <dt class="col-sm-3">Region</dt>
    <dd class="col-sm-9">@Model.Region</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>